.elements-buy {
      width: 35px;
      font-weight: bold;
}

.content-item-count div {
      padding: 5px;
}

.btn-redondo{
      background-color: #001c43;
      color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
}

.btn-custom {
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      background-color: #001c43;
      border: 1px solid #001c43;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      transition:   color .15s ease-in-out,
                  background-color .15s ease-in-out,
                  border-color .15s ease-in-out,
                  box-shadow .15s ease-in-out;
}

.btn-custom:disabled {
      color: #fff;
      background-color: #001c43;
      border-color: #001c43;
}

.btn-custom svg {
      margin-top: -5px;
}

.btn-redondo.disabled, .btn-redondo:disabled, .btn-custom.disabled, .btn-custom:disabled {
      pointer-events: none;
      opacity: .65;
}

.btn-redondo:hover, .btn-custom:hover {
      color: #F5b400;
}